doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7zBxIBoJq6xOCvkiSFuPOTYtv4wU8YJ4&")
    script(src='/javascripts/map.js')
  body
    #mast
      a(href='/') 
        h1 Luke for BART 9
    nav
      ul
        li#first 
          a(href='/blog/') Blog
        li#second 
          a(href='/goals/') Goals
        li#third 
          a(href='/dist/') BART District 9
        li#last 
          a(href='/donate/') Donate
    #cont
      block content
