doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li#first 
          a(href='/blog/') Blog
        li#second 
          a(href='/bio/') Biography
        li#third 
          a(href='/bart/') BART District 9
        li#last 
          a(href='/donate/') Donate
    #cont
      block content
