doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li#first 
          a(href='/blog/') blog
        li bop
        li bop
        li#last bop
    #cont
      block content
